<form class="form-group" action='/student' method='post'>
    <label for='name'>Student name:</label>
    <input class="form-control" id='name' name='name' type='text'><br>

    <label for='enroll_date'>Enroll date:</label>
    <input class="form-control" id='enroll_date' name='enroll_date' type='date'><br>

    <button class="btn btn-lg btn-primary"type='submit'>Add Student</button>
</form>
<form class="form-group" action='/delete_all_student' method='post'>
    <input value="delete" type='hidden' name='_method'>
    <button class="btn btn-lg btn-danger" type="submit">Delete all students</button>
</form>
