<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    <div class="container">
        {% include '/includes/header.html.twig' %}
        <div class="row">
            <div class="col-md-6">
                <h2>Add Course</h2><hr>

                {% include '/includes/add_course.html.twig' %}

            </div><!--col-md-6-->
            <div class="col-md-6">
                <h2>Add Student</h2><hr>

                {% include '/includes/add_student.html.twig' %}

            </div><!--col-md-6-->
        </div>
        <hr>
        <br>
        <br>

        <div class="row">
            <div class="col-md-6">
                <h2>Courses</h2><hr>
                {% if courses is not empty %}
                    <ul>
                        {% for course in courses %}
                            <li>{{ course.getName }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No Courses Available</p>
                {% endif %}
            </div><!--col-md-6-->
            <div class="col-md-6">
                <h2>Students</h2><hr>
                {% if students is not empty %}
                    <ul>
                        {% for student in students %}
                            <li>{{student.getName}}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No students enrolled</p>
                {% endif %}
            </div><!--col-md-6-->
        </div><!--row-->
    </div>
  </body>
</html>
